* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

                /*HEADER*/

header {
    background-color: #24282f;
    padding-top: 30px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
header .container {
    display: flex;
    justify-content: space-between;
}
ul  {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
ul li   {margin-left: 50px;}
ul li:first-of-type     {margin-left: 0;}
ul li a {
    color: white;
    font-family: 'Open Sans';
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 19px;
}
ul li a:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #b2a563;
    margin-top: 29px;
    transition: 0.3s;
}
ul li:hover a:after, ul li.active a:after {
    width: 100%;
}
.logo   {margin-left: 7px;}

                /*BANNER*/

.banner {
    width: 100%;
    background: url("../images/bg_blur.jpg") no-repeat top center #2b2e35;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
}
.banner h1 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    line-height: 0.7;
}
.banner p {
    font-family: 'Open Sans';
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 1.7;
}

            /*MANAGEMENT*/

.management {
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 25px;
}
.management .container {
    max-width: 900px;
    margin: 0 auto 35px;
    display: flex;
    justify-content: space-between;
}
.management h2 {
    color: #24282f;
    font-family: 'Raleway';
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.management h2:after {
    display: block;
    content: "";
    width: 61px;
    height: 2px;
    background-color: #b2a563;
    margin: 22px auto 26px;
}
.workers img {
    display: block;
    margin-bottom: 25px;
}
.workers .dflex {
    display: flex;
    justify-content: space-between;
}
.dflex div {
    display: flex;
    justify-content: flex-end;
}
.workers h3 {
    display: inline-block;
    font-family: Raleway;
    font-weight: 500;
    font-size: 13px;
    color: #232323;
    text-transform: uppercase;
    margin-left: 8px;
}
.workers h3 span {
    font-family: "Open Sans";
    font-size: 11px;
    text-transform: capitalize;
    color: #b2a563;
}
.workers a {
    margin-right: 6px;
    margin-top: 2px;
    background-color: #dedede;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 28px;
    line-height: 28px;
    font-size: 14px;
}
.management > a {
    display: block;
    max-width: 130px;
    margin: 0 auto;
    font-family: "Open Sans";
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #24282f;
    border: 2px solid #7c7e82;
    padding: 13px 29px;
    border-radius: 30px;
}

                /*REVIEWS*/

.reviews {
    background-color: #f7f7f7;
    padding: 95px 0;
}
.reviews .container {
    max-width: 715px;
    margin: 0 auto;
}
.reviews h2 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #24282f;
}
.reviews h2:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    margin: 25px auto 50px;
    background-color: #24282f;
}
.reviews img {
    display: block;
    max-width: 72px;
    margin: 0 auto 30px;
}
.reviews p {
    padding: 0 15px;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 11px;
    color: black;
    text-align: center;
    margin-bottom: 35px;
    line-height: 2;
    letter-spacing: 0.6px;
}
.reviews h3 {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 13px;
    color: #b2a563;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2;
}
.reviews h3 span {
    font-weight: 400;
    font-size: 11px;
    color: black;
    text-transform: capitalize;
}

.owl-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.owl-prev:before, .owl-next:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    outline: none;
    font-size: 13px;
    color: #24282f;
}
.owl-nav .owl-prev:before {
    content: "\f104";
    position: absolute;
    bottom: 200px;
    left: -95px;
}
.owl-nav .owl-next:after {
    content: "\f105";
    position: absolute;
    bottom: 200px;
    right: -95px;
}

            /*ABOUT*/

.about {
    background-color: #2b2e35;
    padding: 63px 0 48px;
    border-bottom: 2px solid #42464c;
}
footer .container {
    max-width: 900px;
    margin: 0 auto;
}
footer a, footer img {
    margin-bottom: 0;
}
.about .container {
    display: flex;
    justify-content: space-between;
}
footer h4 {
    color: #b2a563;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 11px;
    margin-bottom: 23px;
}
.about_fapor p {
    font-family: "Open Sans";
    font-size: 11px;
    color: #6e7279;
    line-height: 19px;
}
.contact_info p, .contact_info a {
    font-family: "Open Sans";
    font-size: 11px;
    color: #6e7279;
    line-height: 17px;
    text-decoration: none;
}
.contact_info > p:first-of-type {
    margin-bottom: 15px;
}
.about form input {
    min-width: 240px;
    width: 100%;
    display: block;
    padding: 10px;
    background-color: #24282f;
    color: #6e7279;
    border: 2px #4d5258 solid;
    font-family: "Open Sans";
    font-size: 11px;
    margin-bottom: 10px;
    outline: none;
}
.about form button {
    min-width: 240px;
    width: 100%;
    display: block;
    padding: 10px;
    background-color: #b2a563;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 11px;
    border: #b2a563 1px solid;
    outline: none;
}

.feedback {
    background-color: #24282f;
    padding-top: 15px;
    padding-bottom: 10px;
}
.feedback .container {
    display: flex;
    justify-content: space-between;
}
.feedback p {
    display: inline-block;
    color: #6e7279;
    font-family: "Open Sans";
    font-size: 9.5px;
    margin-top: 5px;
}
.feedback p:before {
    content: "©";
    margin-right: 3px;
    font-size: 10px;
}
.feedback a {
    display: inline-block;
    margin-left: 8px;
    text-decoration: none;
    color: #6e7279;
    border-radius: 50%;
    border: 1px solid;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
}
.feedback a:hover, .feedback a.active {
    background-color: #b2a563;
    color: white;
    border-color: #b2a563;
}